.section {
    padding: 4rem 2rem;
    text-align: center;
}

.heading {
    font-size: 2rem;
    color: #f745d3;
    margin-bottom: 3rem;
    font-weight: 700;
}

.cardGrid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card {
    background: #ffffff0d;
    backdrop-filter: blur(0px);
    padding: 1rem;
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.image {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.content {
    padding: 1rem;
    text-align: left;
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0.5rem;
}

.desc {
    font-size: 0.9rem;
    color: var(--text-soft);
    margin-bottom: 0.75rem;
}

.link {
    color: #f745d3;
    font-weight: 500;
    font-size: 0.9rem;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
    .cardGrid {
        flex-direction: column;
        align-items: center;
    }
}
