@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

body {
  font-family: 'Dancing Script', cursive;
}

:root {
    --bg: #08080b;
    --bg-soft: #161616;
    --text: #FDFAFC;
    --text-soft: #b4a8b1d8;
    --text-primary: #bc2c97;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background: var(--bg);
    font-family: "poppins", sans-serif;
    /* display: flex;
    flex-direction: column; */
    justify-content: space-between;
    min-height: 100vh;
    color: var(--text);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: auto;
    padding: 0 1rem;
}

.btn {
    font-size: 18px;
    background: #851c71;
    background: linear-gradient(
        90deg,
        rgb(119, 25, 102) 0%,
        rgba(188, 44, 151, 1) 100%
    );
    color: var(--text);
    padding: 10px 18px;
    border-radius: 20px;
}

/* Medium devices (tablets, 640px and up) */
@media (max-width: 640px) {
    .container {
        width: 100%;
    }
}

/* Large devices (small laptops, 768px and up) */
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}

/* Extra large devices (desktops, 1024px and up) */
@media (max-width: 1024px) {
    .container {
        width: 100%;
    }
}

/* 2XL devices (large desktops, 1280px and up) */
@media (min-width: 1280px) {
    .container {
        width: 1280px;
    }
}

/* Ultra-wide screens (1536px and up) */
@media (min-width: 1536px) {
    .container {
        width: 1280px; /* Keep it fixed, or change if you want wider */
    }
}
