.hero {
    position: relative;
    min-height: 150vh;
    height: fit-content;
    padding-top: 50px;
    padding-bottom: 1px;
    color: #fff;
    z-index: 0;
    background-image: url('/Hero.png'); 
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; 
}


.heroCard {
    position: relative; /* Important for positioning the image inside */
    width: 100%;
    min-height: 80vh;
    background: #ffffff0d;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: var(--text);
    gap: 30px;
    overflow: hidden; /* Prevent image overflow */
}

.heroImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: auto;
    max-height: 50%;
    pointer-events: none;
    object-fit: contain;
    z-index: 0;
    opacity: 0.7;
}


.title {
    font-size: 82px;
    color: #fff;
}

.colored {
    color: var(--text-primary);
}

.desc {
    font-size: 32px;
}


.offerSec{
    margin: 150px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.offerSecTitle{
    font-size: 42px;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 80px;
    width: 80%;
}

.card{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffff0d;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 10px;
    padding: 2rem;
    gap: 20px;
    text-align: center;
}

.cardTitle, .cardDesc{
    font-weight: bold;
    color: var(--text-soft);
}

@media (max-width: 960px) {
    .heroCard {
        padding: 20px;
        gap: 20px;
        min-height: 60vh;
        
    }


    .title {
        font-size: 48px;
    }

    .desc {
        font-size: 22px;
        padding: 0 20px;
    }

    .offerSec {
        margin: 100px auto;
        gap: 30px;
        padding: 0 20px;
    }

    .offerSecTitle {
        font-size: 32px;
        text-align: center;
    }

    .cards {
        grid-template-columns: 1fr 1fr;
        width: 100%;
        gap: 30px;
    }

    .card {
        padding: 1.5rem;
        gap: 15px;
    }

    .cardTitle {
        font-size: 18px;
    }

    .cardDesc {
        font-size: 14px;
    }
}

@media (max-width: 600px) {
    
    .heroImage {
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
    }
    .title {
        font-size: 36px;
    }

    .desc {
        font-size: 18px;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    .card {
        width: 100%;
    }
}
