.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background-color: #08080b;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
}

.logo {
    color: #ff00b7;
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    z-index: 10;
}

.hamburger {
    display: none;
    cursor: pointer;
    z-index: 20;
}

.navLinks {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
}

.navLink a,
.navAuthLink1 a,
.navAuthLink2 a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.navAuthLink1 {
    background: #ffffff3d;
    padding: 8px 13px;
    border-radius: 20px;
    transition: all 0.5s;
    border: 1px solid #ffffff7d;
}

.navAuthLink1:hover {
    background: #ffffff25;
}

.navAuthLink2 {
    background: var(--text-primary);
    padding: 8px 13px;
    border-radius: 20px;
    transition: all 0.5s;
    border: 1px solid #ffffff21;
}

.navAuthLink2:hover {
    background-color: #bc2c989a;
}

/* Mobile Styles */
@media (max-width: 968px) {
    .hamburger {
        display: block;
    }

    .navLinks {
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
        right: 0;
        background-color: var(--bg);
        width: 100%;
        display: none;
        padding: 20px 0;
        gap: 20px;
        z-index: 15;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    }

    .showMenu {
        display: flex;
    }
}
